body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #EA1D2C;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

button {
    background: #EA1D2C;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.qtd button {
    width: 40px;
}

#app {
    background: white;
    padding: 20px;
    border-radius: 10px;
}