body {
    margin: 0;
    font-family: Arial;
    background: #EA1D2C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.login-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    animation: aparecer 0.6s ease;
}

@keyframes aparecer {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* LOGO */
.logo {
    width: 140px;
    margin-bottom: 10px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BOTÃO */
button {
    width: 100%;
    padding: 12px;
    background: #EA1D2C;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #c41724;
}

span {
    color: #EA1D2C;
    cursor: pointer;
    font-weight: bold;
}
